h1 {
    Background-color: lightgray;
    padding: 5%;
    width: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

p {
    padding: 2%;
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
}

h2 {
    background-color: grey;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 0%;
    width: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}


section.links li {
    display: inline;
    padding: 1.5%;
    background-color: black;
    color: white;
    margin: auto;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

section.links {
    padding: 2%
}

a {
    color: white;
    text-decoration-line: none
}

section.getC p {
    align-content: center;
}

.buttonone {
    background-color: red;
    padding: 2%;
    float: right;
    margin: 3%;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

#hero {
    width: 100%;
    padding: inherit;
}

section.footer img {
    display: inline;
    width: 80%;
    height: 80%;
    padding: 10px;
    background-color: white;
    color: white;
    align-content: center;
    object-fit: cover;
    border-radius: 2px;
}

section.footer {
    background-color: lightgray;
    padding: 10px;
    padding-bottom: 50px;
    width: auto;
    text-align: center;
}

section.footer span {
    display: flex;
}

section.footer p {
    padding-left: 50px
}

section.links span {
    display: flex;
}

section.artist img {
    padding: 3%;
    text-align: center;
    border-image-outset: 2px;
    align-content: center;
    margin: auto;

}

section.calendar {
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: auto;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
